$color-background-normal: #eee;

$color-foreground-normal: #595959;
$color-foreground-light: #898989;
$color-foreground-inverse: #fff;

$color-grey-light: #fff;
$color-grey-normal: #eee;
$color-grey-dark: #ddd;

$color-grey-palette: (
    50: $color-grey-light,
  100: $color-grey-normal,
  200: $color-grey-dark,
  300: #7faedd,
  400: #7faedd,
  500: #7faedd,
  600: #7faedd,
  700: #7faedd,
  800: #7faedd,
  900: #7faedd,
  A100: #7faedd,
  A200: #7faedd,
  A400: #7faedd,
  A700: #7faedd,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$color-blue-light: #3AA5E3;
$color-blue-normal: #3494CC;
$color-blue-dark: #2E81B2;

$color-blue-palette: (
    50: $color-blue-light,
  100: $color-blue-normal,
  200: $color-blue-dark,
  300: #7faedd,
  400: #7faedd,
  500: #7faedd,
  600: #7faedd,
  700: #7faedd,
  800: #7faedd,
  900: #7faedd,
  A100: #7faedd,
  A200: #7faedd,
  A400: #7faedd,
  A700: #7faedd,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$color-orange-light: #F9C678;
$color-orange-normal: #FFAD2F;
$color-orange-dark: #F0A32C;

$color-orange-palette: (
    50: $color-orange-light,
  100: $color-orange-normal,
  200: $color-orange-dark,
  300: #7faedd,
  400: #7faedd,
  500: #7faedd,
  600: #7faedd,
  700: #7faedd,
  800: #7faedd,
  900: #7faedd,
  A100: #7faedd,
  A200: #7faedd,
  A400: #7faedd,
  A700: #7faedd,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$color-facebook-normal: #4A67AD;
$color-facebook-dark: #425C9B;

$color-success-normal: #62a420;
$color-danger-normal: #e62700;