$measure-gutter-top: 60px;
$measure-gutter-normal: 5px;
$measure-gutter-large: 10px;
$measure-gutter-xlarge: 20px;
$measure-gutter-xxlarge: 40px;
$measure-gutter-xxxlarge: 80px;


$component-component-border: 1px;
$component-component-normal: 36px;

$site-max-width: 800px;

$measure-font-normal: 1rem;
$measure-font-small: 0.95rem;
$measure-font-large: 1.05rem;