@import '../node_modules/@useid/dgt-theme/dist/style.css';

html {
  height: 100%
}

body {
  width: 550px;
  margin: auto;
  background-color: var(--colors-background-normal);
}

body > * {
  margin-bottom: var(--gap-large);
}

:global(.content) {
  flex: 1 0;
  padding: 80px;
}
